<ion-view view-title="Dashboard">
    <ion-content class="padding content">﻿
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refreshDashboard()">
        </ion-refresher>
        {{ status }}

        <button class="button button-dark button-block" ng-click="syncFromDevice()">
            Sync from Device
        </button>
        <button class="button button-dark button-block" ng-click="syncFromServer()">
            Sync from Server
        </button>
        <button class="button button-dark button-block" ng-click="refillCard()">Refill Card</button>
        <a class="button button-dark button-block" href="" ui-sref="claim">Process Voucher</a>
        <a class="button button-dark button-block" href="" ui-sref="provision" ng-if="isAdmin">Provision</a>
    </ion-content>
</ion-view>
